<p style="color: green"><%= notice %></p>

   <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <%= image_tag(@movie.image,size: "200x300")%>
          <div class="star-rating" data-score= <%= @avg_review %> ></div>
        </div>
        <div class="table-responsive">
          <table class="table table-sm text-light">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Category:</strong></td>
                <td><%= @movie.category %></td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1 card text-white bg-dark mb-3">
        <h1 class="card-header text-center">
          <%= @movie.title%>          
        </h1>
        <p>
          <%= @movie.description%>
        </p>
        <hr>
        <% if @reviews.present?%>
        <%=render 'reviews/form' %>
        <%end%>
        <% if @reviews.blank?%>
          <h3> No reviews just yet, would you like to add the first! Please Sign in </h3>          
        <% else %>
          <% @reviews.each do |review| %>
            <div class="card-text card text-white bg-secondary mb-3">
              <div class="reviews">
                <div class="star-rating" data-score=<%= review.rating %> ></div>
                <p><%= review.comment %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>  

<div>
<% if can? :update, @movies %>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
<%end%>
  <%= link_to "Back to movies", movies_path %>
<% if can? :destroy, @movies %>
  <%= button_to "Destroy this movie", @movie, method: :delete %>
<%end%>
</div>
