<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="p-3 mb-2 bg-secondary text-white">  
    <div class="container">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alert' %>
      <br/>
      <%= yield %>
    </div>
  </body>
  
</html>
